<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="container col-md-11"><br><br>
        <a routerLink="/professeurs">
          <button type="button" class="btn btn-primary">
            <i class="fa fa-backward"></i> Retour à la liste des professeurs
          </button>
        </a>
        <h1>Ajouter un professeur : </h1>
      </div>
      <form #nivForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text"  class="form-control" name="nom" id="name"[(ngModel)]="professeur.firstName" #firstName="ngModel">
        </div>
        <div class="form-group">
          <label for="prenam">Prenom</label>
          <input type="text"  class="form-control" name="prenom" id="prenam"[(ngModel)]="professeur.lastName" #lastName="ngModel">
        </div>
        <div class="form-group">
          <label for="nbreHeure">Nombre d'heures</label>
          <input type="number"  class="form-control" name="nbreHeure" id="nbreHeure"[(ngModel)]="professeur.nbreHeure" #nbreHeure="ngModel">
        </div>
        <div class="form-group">
          <label for="adresse">Adresse</label>
          <input type="text"  class="form-control" name="adresse" id="adresse"[(ngModel)]="professeur.adresse" #adresse="ngModel">
        </div>
        <div class="form-group">
          <label for="mat">Matiere du professeur</label>
          <select class="form-control"  id="mat" required [(ngModel)]="matieres" name="mat" #mat="ngModel">
            <option *ngFor="let matiere of matieres" [value]="matieres">{{matiere.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tel">Telephonne</label>
          <input type="text"  class="form-control" name="tel" id="tel"[(ngModel)]="professeur.phone" #tel="ngModel">
        </div>
        <div class="form-group">
          <label for="mail">Email</label>
          <input type="text"  class="form-control" name="mail" id="mail"[(ngModel)]="professeur.email" #mail="ngModel">
        </div>
        <button [disabled]="!nivForm.form.valid" type="submit" class="btn btn-success">Ajouter un professeur</button>
      </form>
    </div>
  </div>
</div>


