<div class="container col-md-11">
  <h3 class="text-center">Liste des user proposées : </h3><br>
  <a routerLink="/new-user">
    <button type="button" class="btn btn-success"> Ajouter une user
    </button>
  </a>
  <table class="table table-striped">
    <thead>
    <tr class="text-center">
      <th>Id</th>
      <th>Utilisateur</th>
      <th>roles</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" *ngFor="let user of users">
      <th>{{ user.id }}</th>
      <th>{{ user.username }}</th>
      <th>

        <a class="ml-4" [routerLink]="['/user', user.id]">
          <button type="button" class="btn btn-primary">Detail</button>
        </a>

        <a class="ml-4" [routerLink]="['/edit-user', user.id]">
          <button type="button" class="btn btn-success ">Editer</button>
        </a>

        <a class="ml-4" (click)="deleteUser(user.id)">
          <button type="button" class="btn btn-danger">Supprimer</button>
        </a>
      </th>
    </tr>
    </tbody>
  </table>
</div>

