<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div *ngIf="isLoading">
        <div class="fa-3x">
          <i class="fas fa-spinner fa-spin"></i>
        </div>
      </div><br>
      <div *ngIf="!isLoading">
        <a routerLink="/matieres">
          <button type="button" class="btn btn-primary">
            <i class="fa fa-backward"></i> Retour à la liste des matieres
          </button>
        </a>
        <h1>Editer la matiere {{ matiere?.name }} : </h1>
        <form *ngIf="matiere" #matiereForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Nom : </label>
            <input type="text" class="form-control" id="name"  name="name" required [(ngModel)]="matiere.name"  #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
              Le nom de la matiere est requis
            </div>
          </div>
          <div class="form-group">
            <label for="coef">Coeficient : </label>
            <input type="text"  class="form-control" name="coef" id="coef" required [(ngModel)]="matiere.coeficient" #coef="ngModel">
            <div [hidden]="coef.valid || coef.pristine"
                 class="alert alert-danger">
              Le moyenne de l'matiere est requise
            </div>
          </div>
          <button [disabled]="!matiereForm.form.valid" type="submit" class="btn btn-success">Modifier la matiere</button>
        </form>
      </div>
    </div>
  </div>
</div>

