<div class="container col-md-11">
  <h3 class="text-center">Liste des classe proposées : </h3><br>
  <a routerLink="/new-classe">
    <button type="button" class="btn btn-success"> Ajouter une classe
    </button>
  </a>
  <table class="table table-striped">
    <thead>
    <tr class="text-center">
      <th>Id</th>
      <th>Nom</th>
      <th>Niveau</th>
      <th>Nbre éleves</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" *ngFor="let classe of classes">
      <th>{{ classe.id }}</th>
      <th>{{ classe.name }}</th>
      <th>{{ classe.niv }}</th>
      <th>{{ classe.nbEleves }}</th>
      <th>

        <a class="ml-4" [routerLink]="['/classe', classe.id]">
          <button type="button" class="btn btn-primary">Detail</button>
        </a>

        <a class="ml-4" [routerLink]="['/edit-classe', classe.id]">
          <button type="button" class="btn btn-success ">Editer</button>
        </a>

        <a class="ml-4" (click)="deleteClasse(classe.id)">
          <button type="button" class="btn btn-danger">Supprimer</button>
        </a>
      </th>
    </tr>
    </tbody>
  </table>
</div>
