<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <div>
        <a routerLink="/eleves">
          <button type="button" class="btn btn-primary">
            Liste des eleves
          </button>
        </a>
      </div><br>
      <div>
        <a routerLink="/classes">
          <button type="button" class="btn btn-primary">
            Liste des classes
          </button>
        </a>
      </div><br>
      <div>
        <a routerLink="/professeurs">
          <button type="button" class="btn btn-primary">
            Liste des professeurs
          </button>
        </a>
      </div>
      <div><br>
        <a routerLink="/contacts">
          <button type="button" class="btn btn-primary">
            Liste des contacts
          </button>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <br>
      <div><br>
        <a routerLink="/referents">
          <button type="button" class="btn btn-primary">
            Liste des referents
          </button>
        </a>
      </div><br>
      <div>
        <a routerLink="/niveaux">
          <button type="button" class="btn btn-primary">
            Liste des niveaux
          </button>
        </a>
      </div>
      <div><br>
        <a routerLink="/matieres">
          <button type="button" class="btn btn-primary">
            Liste des matieres
          </button>
        </a>
      </div>
      <div><br>
          <a routerLink="/users">
            <button type="button" class="btn btn-primary">
              Liste des utilisateurs
            </button>
          </a>
      </div><br>
    </div>
  </div>
</div>
