<div class="container my-2 py-5">
  <div class="row">
    <div class="col-md-2">
      <br>
      <br>
      <div><br>
        <a routerLink="/students">
          <button type="button" class="btn btn-outline-info">
            Liste des eleves
          </button>
        </a>
      </div><br><br>
      <div>
        <a routerLink="/classes">
          <button type="button" class="btn btn-outline-info">
            Liste des classes
          </button>
        </a>
      </div><br><br>
      <div>
        <a routerLink="/professors">
          <button type="button" class="btn btn-outline-info">
            Liste des professeurs
          </button>
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <img class="d-block w-100" src="/assets/img/MyScool1.jpg" alt="MyScool" style="height:500px">
    </div>
    <div class="col-md-2">
      <br><br>
      <div><br>
        <a routerLink="/referents">
          <button type="button" class="btn btn-outline-info">
            Liste des referents
          </button>
        </a>
      </div><br><br>
      <div>
        <a routerLink="/levels">
          <button type="button" class="btn btn-outline-info">
            Liste des niveaux
          </button>
        </a>
      </div>
      <div><br><br>
        <a routerLink="/subjects">
          <button type="button" class="btn btn-outline-info">
            Liste des matieres
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

